:root {
	--aqua: #3498db;
	--snow: #fff;
	--obscure: red;
	--ivory: #ecf0f1;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}

/* Hero styles */

.my-avatar {
	width: auto;
}

header.hero {
	background-color: var(--aqua);
	color: var(--snow);
	padding: 20px;
	text-align: left;
	/*display: inline-block;*/
}

header .hero-content {
	display: flex;
	flex-direction: column;
	align-items: right;
	text-decoration: none;
}

/* Navigation styles */

nav a:hover {
	color: red;
}
nav ul {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: right;
}

nav ul li {
	margin: 0 15px;
}

nav ul li a {
	text-decoration: none;
	color: var(--snow);
	font-weight: bold;
}

/* Main content styles */
main {
	padding: 20px;
}

/* section styles */
.page-section {
	margin-bottom: 40px;
}

/* Portfolio card styles */
.portfolio-cards {
	display: flex;
	flex-wrap: wrap;
}

.porfolio-card {
	flex: 1;
	margin: 10px;
	padding: 20px;
	border: 1px solid var(--snow);
}

/* Contact section styles */
.contact {
	background-color: #ecf0f1;
}

.contact a:hover {
	color: red !important;
}

hr {
	border-style: none;
	border-top-style: none;
	border-color: #8d9c97;
	border-width: 5px;
	width: 5%;
	margin-bottom: 40px;
}

hr a:hover {
	color: red;
}

/* media queries fpr responsiveness */

/* screen with maximun width of 600 pixels */
@media screen and (max-width: 600px) {
	nav ul {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 768px) {
	.portfolio-cards {
		flex-direction: column;
	}
	.porfolio-card {
		width: 100%;
	}
}
